# Ignore everything
**

# Except proxy
!audit
!common
!db
!gas_tank
!indexer
!indexer_client
!patch
!proxy
!proxy_client
!statistic
!test-operator-keypairs
!tests
!requirements.txt
!README.md
!log_cfg.json
