solders==0.21.0
pythclient==0.1.24
base58==2.1.1

psycopg[binary,pool]==3.1.18
hvac==2.1.0
aioprometheus==23.12.0
pydantic==2.7.0
robyn==0.54.1
aiohttp==3.9.4
backoff==2.2.1
uvloop==0.19.0

eth-bloom==3.0.1
eth-keys==0.5.1
eth-account==0.12.3
eth-hash==0.7.0
safe-pysha3==1.0.4
ecdsa==0.19.0
py-solc-x==1.1.1
rlp==4.0.1
rusty-rlp==0.4.0

singleton-decorator==1.0.0
typing-extensions==4.11.0
strenum==0.4.15
construct==2.10.70
